<template>
  <div id="app">
    <<%=nameKebab%>></<%=nameKebab%>>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import <%=name%>Component from "../src/<%=nameKebab%>.component.vue";

export default Vue.extend({
  components: { "<%=nameKebab%>": <%=name%>Component }
});
</script>
